<head>
	<h1>New Item</h1>
</head>
<style>
	
		 div {  
		      background: #444;  
		      color: white;  
		    
		      padding-top: 10px;  
		      padding-right: 10px;  
		      padding-bottom: 0.25in;  
		      padding-left: 5em;  
	   		 }  
</style>
<body>
	<div>

		<%= form_for @todo, :url => todo_index_path(@todo) do |f| %>
			<%= f.label :name %>: <%= f.text_field :name %>
			<%= f.hidden_field :done, :value => false %>
			<%= f.submit "Add to todo" %>
		<% end %>
	</div>
</body>